<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
    <style>
        .container {
            margin-top: 50px;
        }
        .btn-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .btn-container a {
            color: #fff;
        }
        #calendar {
            margin-bottom: 50px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="btn-container">
            <h1 class="text-center mb-4">Calendar</h1>
            <div>
                <a href="{% url 'add_event' %}" class="btn btn-primary">Add an Event</a>
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
            </div>
        </div>
        <div id="calendar"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                events: [
                    {% for event in events %}
                        {
                            title: '{{ event.title }}',
                            start: '{{ event.date|date:"Y-m-d" }}'
                        },
                    {% endfor %}
                ],
                eventRender: function(event, element) {
                    element.find('.fc-title').attr('title', event.title);
                }
            });

            $('.fc-today-button').click(function() {
                $('#calendar').fullCalendar('today');
            });
        });
    </script>
</body>
</html>
